
.stress-img {
  
  width: 300px;
  height: 200px; 
  border-radius: 50%;
  background-color: #7db9e8;
  margin: 100px 35px 15px 30px;
  float: left;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  background-image: url('/images/stress-head.jpg');
  background-size: cover;
}


.zen-img {    
  width: 300px;   
   height: 200px;    
   border-radius: 50%;    
   background-color: #7db9e8; 
   background-image: url('/images/zen-1.jpg');   
   margin: 0 25px 5px 0;    
   float: right;    
   -webkit-shape-outside: ellipse(50px 100px at 50% 50%);    
   shape-outside: ellipse(250px 100px at 50% 50%);
   background-size: cover;
  }

  @media (max-width : 815px){

    body{
      max-width: fit-content;
    }

    .stress-img {
      width: 20vw;   
      height: 20vh;  
      margin: 10px 35px 15px 30px;
    }

    .zen-img {
      width: 20vw;   
      height: 20vh;  
    }

    .active-section{
        max-width: 100vw;
        font-size:smaller;
        max-height:90vh;
    }
    



  }