@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



* {
  box-sizing: border-box;
}

html{
  margin:0;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  display:grid;
}

#header{
  margin-top:100px;
}

#top-nav-list{
  position: fixed;
  top:0;
  display: flex;
  justify-content:space-evenly;
  align-items: center;  
  width:100vw;
  background-color: black;
  padding:1rem;
  margin: 0;
}




.content{
  height:100vh;
  
}

.navlink{
  color:white;
  text-decoration: none;
}

.active-link{
  background-color: red;
}

.active-section{
  border:1px solid red; 
  padding-top:10vh;
}

#top-btn-wrapper{
  position:fixed;
  bottom:1rem;
  right:1rem;
}

#top-button{
  padding:1em;
  margin:1em;
  background:rgb(255, 115, 0);
  border-radius: 25%;
  filter: drop-shadow(5px 5px 4px #444);
  color:white;  
  font-size:100%;
}

.hide{
  display:none;
}

@media (max-width : 815px){
  #top-nav-list{
   flex-direction: column;
   justify-content: left;
   align-items: flex-start;
  }
}