@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url("topnav.css");
@import url("services.css");
@import url("webdesign.css");
@import url("seo.css");
@import url("ecommerce.css");
@import url("aboutus.css");
@import url("pricing.css");
@import url("contact.css");

:root{
  --dark-blue :#003b46;
  --light-blue: #C4DFE6;
  --orange: orange;
}

* {
  box-sizing: border-box;
}

html{
  margin:0;
  padding:0;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  display:grid;
}

h1{
  text-align: center;
}

h2{
  text-align: center; 
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
}


#header{
  margin-top: 100px;
  height: 100vh;
  z-index: 990;
}

#header img{
 display:block;
 margin-left:20vw;

}

#header h2{
  margin-top: 10px;
  padding:2rem;
  background: rgba(11, 6, 85, 0.3);
  color:white;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
}


.hide{
  display:none;
}

.content{  
  height:100vh;
  width:auto;
  margin:1rem;
  padding:1rem;
  margin-top:2.2rem;
 background-color: white;
 z-index:990;

}


@keyframes example {
  from {opacity: 0.1; height:0px;width:0%;}
  to {opacity: 9; height:100vh; width:80%;}
}


.active-section{ 
  margin-top: 100px;
  padding-top:12vh;
  height:100vh;
  background-color: white;
  z-index:995;
  box-shadow: 10px 10px 5px grey;
  animation-name: example;
  animation-duration: 4s;

}

#top-btn-wrapper{
  position:fixed;
  bottom:1rem;
  right:1rem;
  z-index: 999;
}

#top-button{
  padding:1em;
  margin:1em;
  background:rgb(255, 115, 0);
  border-radius: 25%;
  filter: drop-shadow(5px 5px 4px #444);
  color:white;  
  font-size:100%;
  
}

#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



.header-content-wrapper{
  display:flex;
  justify-content: space-evenly;
  flex-flow:row;
  margin:5px;
}

#seovideo{
  width:100%;
  height:auto;
  margin:5px;
  padding:0.25rem;
}

.header-content{
  width:100%;
  flex-grow: 1;
  background: rgba(240, 240, 241, 0.7);
  margin:5px;
  padding:0.25rem;
  line-height: 1.8rem;
}

.header-content h2{
  background: rgba(240, 240, 241, 0.1);
  font-size:small;
  padding:0.5rem;
}

@media (max-width : 815px){

  body{
    font-size:smaller;
    max-width:100%;
  }

  #header{
    max-width:100%;    
  }

 }
 

.fullwidth{
 width: 80%
}



