@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



* {
  box-sizing: border-box;
}

html{
  margin:0;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  display:grid;
}

#header{
  margin-top:100px;
}

#top-nav-list{
  position: fixed;
  top:0;
  display: flex;
  justify-content:space-evenly;
  align-items: center;  
  width:100vw;
  background-color: black;
  padding:1rem;
  margin: 0;
}

.hamburger-menu{
  color: white;
  border:1px solid black;
}

h1{
  text-align: center;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  height:100vh;
  max-width: 80vw; 

}

.navlink{
  color:white;
  text-decoration: none;
}

.active-link{
  background-color: red;
}

.active-section{
  border:1px solid red; 
  padding-top:10vh;
}

#top-btn-wrapper{
  position:fixed;
  bottom:1rem;
  right:1rem;
}

#top-button{
  padding:1em;
  margin:1em;
  background:rgb(255, 115, 0);
  border-radius: 25%;
  filter: drop-shadow(5px 5px 4px #444);
  color:white;  
  font-size:100%;
}

.hide{
  display:none;
}

@media (max-width : 815px){

  .icon {  
    position: fixed;
    background-color: black;
    z-index: 99;
  }

  #top-nav-list{   
   flex-direction: column;
   justify-content: left;
   align-items: flex-start;
  
  }

  nav ul li {
    display: none;
  }

  nav ul li.responsive {
    display: block;
    margin-left:3rem;
  }

  nav ul li.responsive:hover {
    background-color: slategray;
  }

  .active-section{
    border:1px solid red; 
   
  }
 

}